case year
  when "2015"
    script.
      var picsrc = "/bearA.jpg";
  when "2016"
    script.
      var picsrc = "/bearB.jpg";
  when "2017"
    script.
      var picsrc = "/bearC.jpg";
  when "2018"
    script.
      var picsrc = "/bearD.jpg";
  default
    script.
      var src = "/bear.jpg";

include ca-xiong-xiong.html
