html
  head
    title!= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.11.0.min.js')
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(type='text/javascript', src='http://code.createjs.com/easeljs-0.7.0.min.js')
    script(type='text/javascript', src='/js/graph.js')

    style.
      .row > .btn { margin-top: 5px; margin-bottom: 5px; }

    script.
      var stage;
      var sourceVertex;
      var vertexes = [{"id":3,"name":"系统保留态3"},{"id":4,"name":"系统保留态4"},{"id":5,"name":"系统保留态5"},{"id":6,"name":"系统保留态6"},{"id":7,"name":"系统保留态7"},{"id":8,"name":"系统保留态8"},{"id":9,"name":"系统保留态9"},{"id":10,"name":"未命名态1"},{"id":11,"name":"未命名态2"},{"id":1,"name":"初始态"},{"id":2,"name":"终止态"}];
      var edges = [ {"source":1,"sink":10}, {"source":10,"sink":11}, {"source":11,"sink":2}, {"source":1,"sink":2} ];

      function init() {
        stage = new createjs.Stage("demoCanvas")
        stage.enableMouseOver();

        // sample vertex
        for(var i=0; i<vertexes.length; i++) {
          drawGraphVertex(vertexes[i].id, vertexes[i].name,
          {x:Math.random()*600,y:Math.random()*450});
        }

        // sample edge
        for(var i=0; i<edges.length; i++) {
          drawGraphEdge(edges[i].source, edges[i].sink);
        }

        // sample curve edge
        //drawingCanvas = new createjs.Shape();
        //stage.addChild(drawingCanvas);
        //drawingCanvas.graphics.setStrokeStyle(1).beginStroke(createjs.Graphics.getRGB(0,0,0));
        //drawingCanvas.graphics.moveTo(10, 210).quadraticCurveTo(50, 390, 90, 210);
        //drawArrow(Math.atan2((210 - 390), (90 - 50)), 90, 210);

        createjs.Ticker.on("tick", tick);
      }

      function tick() {
        stage.update();
      }

  body(onload="init();")
    div.container
      div.row
        button#save.btn.btn-default Save
        button#editVertex.btn.btn-default Edit Vertex
        button#editEdge.btn.btn-default Edit Edge
      canvas#demoCanvas(width=1024, height=768)
